packages:
  yum:
    mod24_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCipherSuite        EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol           All -SSLv2 -SSLv3
        SSLHonorCipherOrder   On
        SSLSessionTickets     Off
        
        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff
        
        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        RequestHeader set X-Forwarded-Proto "https" early
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDyjCCArKgAwIBAgIRAKpRbztOqnKtdN54tfbWQYowDQYJKoZIhvcNAQELBQAw
      czELMAkGA1UEBhMCQlIxEzARBgNVBAoMCnByb2plY3RkZXYxGDAWBgNVBAsMD0Rl
      c2Vudm9sdmltZW50bzELMAkGA1UECAwCUlMxEDAOBgNVBAMMB0F1dGhPbmUxFjAU
      BgNVBAcMDUNheGlhcyBkbyBTdWwwHhcNMjIxMjMxMDE1MTE1WhcNMjQwMTMxMDI1
      MTE0WjAmMSQwIgYDVQQDDBtwZDIwMjNhLnByb2plY3RkZXYuc2VydmljZXMwggEi
      MA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDh9026qMuB5i9Xyc+GhIhII0ci
      SPS2F835HR+G9p9b+yGprXjAHx6MgWW1Sa5JbbLMA2DzaNBMSMpzZCMPJc3X/Rdi
      HnsBG94uJ7YEObtGhCBFTkPI9h6h3C8ZW/tTw/MjGGipR5qmG0hugdgm0c+eJy15
      zb9VMsZUYVZt/B6jnO8LHHVSSxLMBaOqKW4/Bz2DC8VJWl+jhcDbRqX5sr0VPhp6
      pxvSsszkL5tto4oG0SFyQZWynm/TFXFm/aT5KJPZp38f9DQNEU1eCKLZXwsWIodH
      tbvjTT/MAE4lFqIRvLVR2EKwZM3kNkT+ofuxLT9XkrmxthRldaLRbv9e7D6PAgMB
      AAGjgaUwgaIwJgYDVR0RBB8wHYIbcGQyMDIzYS5wcm9qZWN0ZGV2LnNlcnZpY2Vz
      MAkGA1UdEwQCMAAwHwYDVR0jBBgwFoAUtWEYFI5VpoWzHPaDS/CgJMUCdxEwHQYD
      VR0OBBYEFIxkR7x75hjAM4G/z607ai9f65bbMA4GA1UdDwEB/wQEAwIFoDAdBgNV
      HSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDQYJKoZIhvcNAQELBQADggEBACCn
      ttrq29VAs0MCrawel4iWrdqImEloM214377kaZTmFAqR3H9UekyDsrcVZ/x3DLY3
      4bz+y1ln8Vj31hhd0X/bB/8ASW05d0OV3rxUlCklXrOKlO6qIlxoTj6wr/aq7Zm8
      ckD5KNycERMSjaphLnuekL0uL7BIOJ67U6p77jeFdwmLWpeSg2dn7G6x1MyKUcye
      qBX0+hHc7SojyY9ZxBgkHnd8dSQ2SzoYQLNiUMtnyV3AVC+IJ3WS17110rdo/ln2
      hp0q6TAyVgxvvjM5GXqj4flkybwg1PapvQGQoYCYDhLvZg8GdvLDnKnazCDGg6RX
      hU8nOlsjJH15WEu5ad0=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIFKzBVBgkqhkiG9w0BBQ0wSDAnBgkqhkiG9w0BBQwwGgQUa8szmfr5W28JpsJl
      hLh2b1bMXx0CAggAMB0GCWCGSAFlAwQBKgQQWVgkc2Zaf0EI7C/QSOyzvASCBNDb
      aQ/6O2ECpNoIUs6TKRD8NbbDxgyAp7wbkqjKBWlgT4DTJBh5qQx8mjgvWaLl+/2x
      XA+RERwosq940LgQiRl9kSx0ONlKnZkqzRLp/Mh7dn0KtgUHo87vV/sx1RK1zWCi
      KLlBvntSigGKzVWj1Y7lIXu1guR9c8tYfaRRrifAIRyyDrR8LmMuOxVYFkkbVN34
      YTMuTHv8A3qb2QkX2mSPqsB/Jc2SemCopXKsrZTTO4OpbAPUy/6O5juBeEwRMVIs
      zhya8L+2xW/OOurVBU2y2MHkTbZARaFfzxDDHEd0rNxEViXFNAUmScbVLi6XJf8E
      /oz8ttP6eOYnYxgqnOpjfMCCFLJlilEO4ZmOiyCi7FGYg1iQDp3r/cYYutgYDxPl
      xx8MIlh/Tx+DM5CC3dufCfaGIN5qlJTjA1atam0bSwfstYc5eUu3TLGpMswMJdJl
      oFnmRo24W98+PYXa0HDh+tXd+o5ZhOT4Wl0IByokYqfXiRtEIsYUu5YDcR5Ht5Cb
      c/0zbF8ClNB1MMyXhfAJ8XhmOK2h19koYaI+2Vafg+KPMaIIWq+aEboRTdSmNhGe
      dmH82X9VVqxKZAr9peB06G2vC3aIKCB3I90XAhQHYTPMtGJiBs7K66If+aTFqUr0
      n/AihBIYKaT4AzQ8EwNWH7KE/2Hw7KDxbrC2HzWWMrNQv5oifz1kWz6bPLMPt8XO
      K+gCX5Gdb4mLOccHqzWvJe+8ap8PYkKFnEL6lPwGnPvxQVoDaIay5MGS+YM52mrb
      jNugRiDVJzpSV3kZXud08pU/oAtyItfVZk09zy9S3udwWTywHqjLW7dQtA2U47Pe
      6PMsGeH441WacedtFllexhy+iJ0MI+EMDSsplomeX/TgUv6+5a8NAfxU5WrcvKOU
      XY4fC3+rdVeuUTNycF7/v6ymtzszj99duMoV/f59j/akNGHcGrrS+41ZR0XpIavD
      7AhM6oOmj4EViJpKRNLbpIFOHw+qUqA0WxtnMrM11nKYEzd6hNM+kmTO0v5oqjNl
      snnfb2qdr41ETh6vM9MLuduFpPZnQVs5bU7Lf7KdPbQ2V8L9pb7TBxTufirsSOfH
      wZO/OJDSVjO07Sr+r0bRUlOAi4fwnDd3sEOP8Inckwf8p6a7nvThGbJJUAJ6SP3u
      BIZTvBdNpLZaLhS+zEOf+kS9+rC+3+ZhrBCzWmaxDC+J0DGyLq3ZoriyXdz0jreY
      cI7KvVDOod0n+Vip1vefxDAAWR6iAa5StSdqyENWwSYxPVxutaMxoeSWQ0dATuvo
      GxTh+wYxDRlAFxMoGvDc75EQ7Pf/LzziW0APm9KQ/AJV//cOYPKF4Z58/DkkU9JL
      Ndfmimf/CfaphWgOrsPRR9lTN9CfdG/jZTlvFzmVQMH3/9Fxb/UyuoIGGq9DaDf5
      kYYhlIG76vnItbm/LvLutG2yTnxZs9PLNPbdTjExYa8ilT5tQ905EZUOQ+dqe7WR
      yzaFGa2VHFufTQ8amgc2PdYgsbWdfUg16Ez2KGd2mtB0ycETPnQqWtw/5VO5bABx
      VwhjmHPJaO5udymbzAvJaqIAPR0I1DowL8yFLagmXOFe2q9w0aUUv1hQ7/yNeMnD
      +gjkCzItKgUKRfXWYGvTPCuWRDEP5Xrww9Z7eLNn7w==
      -----END RSA PRIVATE KEY-----